body {
    text-align: center;
    background-color: fuchsia
}

.img {
    height: 500;
    width: 500;
}

#achievementsID {
    padding-bottom: 10px;
}

.movie_head {
font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i {
    float: right;
}

.movie_head text span {
    color: #ff7700;
}